<% @posts.each do |post| %>
<div class="post">
	<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date">Post by: <%= post.name %></p>
			<div class="entry">
			<p><%= truncate( post.content, :length => 200 )	%></p>
			</div>
</div>
<%end%>
